[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-seriesfinale
Exec=sailfish-qml harbour-seriesfinale
Name=SeriesFinale

[X-Sailjail]
Sandboxing=Disabled

## Enabling Sailjail would require migrating data from
## .local/share/harbour-seriesfinale/ to .local/share/harbour-seriesfinale/harbour-seriesfinale
# Permissions=Internet
# OrganizationName=harbour-seriesfinale
# ApplicationName=harbour-seriesfinale

[X-HarbourBackup]
BackupPathList=.local/share/harbour-seriesfinale/:.cache/harbour-seriesfinale:.config/harbour-seriesfinale
BackupConfigList=/apps/harbour-seriesfinale/
